/* CSS Styling for the top page */
body {
    margin: 0px;
    background-color: darkgoldenrod;
    font-family: "Comfortaa", cursive;
}

.logo {
    width: 190px;
    height: 190px;
}
.top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(174, 110, 26);
}
/* CSS Styling for the navigation bar */
.navigation a {
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    background-color: rgb(255, 255, 121);     
}
.navigation a:hover {
    background-color: rgb(255, 221, 0);
    box-shadow: 1px 1px 100px 1px rgb(255, 251, 0);;
}
/* CSS Styling for the banner section */
.banner {
    background-color: rgba(0, 78, 1, 0.423);
    min-height: 50vh;
    max-height: 60vh;
    display: grid;
    place-items: center;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.096);
    background-image: url('images/bananabgbanner.jpg');
    background-size: 1800px;
    margin-bottom: 100px;
}
.banner h1 {
    font-size: 100px;
    color: rgb(162, 130, 0);
    text-shadow: 3px  1px 15px rgba(0, 0, 0, 0.471);
    background-color: rgba(0, 0, 0, 0.803);
}
.banner-image {
    margin-top: -50px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    background-color: rgb(162, 130, 0);
    background-size: cover;
    border-radius: 50px;
}
.footer {
    margin-top: 0px;
    background-color: rgb(174, 110, 26);
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}
.footer-social {
    font-size: 50px;
    margin: 0px 0px;
}
.footer-social:hover {
    text-shadow: 1px 1px 20px rgb(223, 223, 0);
}